@page
@{
    var recipeTitle = ViewBag.recipeTitle;
    var recipe = ViewBag.recipe;
}
<center><h1>@recipe.Title</h1></center>
<div>
    <div class="row">
        <div class="col-6">
                <img id="dish-image" src="@recipe.ImageUrl" style="width:100%" alt="">
        </div>
        <div class="col-6">
            <h3>Ingredients</h3>
            @Html.Raw(@recipe.Ingredients)
        </div>
    </div>



</div>

<div class="row">
    <div class="col-12">
        <h3>Method</h3>
        @Html.Raw(@recipe.Method)
    </div>
</div>

<hr />

<h3>You might also like</h3>
<table>
    <tr>
        <td>
            <img src="http://www.reciperoulette.tv/public/upload/5783f3b60eaeb66427f704dec37b4a88.jpg" style="width:200px" alt="">
            <h5>Basil chicken with Vermicelli</h5>
        </td>
        <td>
            <img src="http://www.reciperoulette.tv/public/assets/images/food.jpg" style="width:200px" alt="">
            <h5>Tasty Carbonara</h5>
        </td>
        <td>
            <img src="http://www.reciperoulette.tv/public/upload/37556f80adffa5bf06eeda68a78127b9.jpg" style="width:200px" alt="">
            <h5>Penne with garlic pesto</h5>
        </td>
        <td>
            <img src="http://www.reciperoulette.tv/public/upload/648bf4cefa2368376964774d293509b8.jpg" style="width:200px" alt="">
            <h5>Penne Carbonara</h5>
        </td>
    </tr>
</table>
